{% import 'macros/yaml_value.j2' as yamlval %}
---
controller_settings:
  settings:
{% set __empty_values = [None, "None", [], {}, [{}]] %}
{% if not (settings_export_from_changed | default(false)) %}
{%   set __empty_values = __empty_values + [''] %}
{% endif %}
{% set __global_settings = template_overrides_global.controller_setting | default({}) %}
{% set __resource_settings = template_overrides_resources.controller_setting | default({}) %}
{% set __api_settings = all_settings[0] | default({}) %}
{% set __all_keys = (__api_settings.keys() | list + __global_settings.keys() | list + __resource_settings.keys() | list) | unique %}
{% for key in __all_keys %}
{%   set value = __resource_settings[key] | default(__global_settings[key]) | default(__api_settings[key]) %}
{%   if (value not in __empty_values)
        or __global_settings[key] is defined
        or __resource_settings[key] is defined %}
{%   if value is mapping or value | type_debug == "list" %}
{{ key | indent(width=4, first=True) }}:
{{ value | to_nice_yaml(indent=2, sort_keys=false) | indent(width=6, first=True) }}
{%   elif key is match('AUTOMATION_ANALYTICS_LAST_ENTRIES') and value | length > 0 %}
{%     if value is string and (value | trim).startswith('{"') %}
{{ key | indent(width=4, first=True) }}: "{{ value | from_json }}"
{%     else %}
{{ key | indent(width=4, first=True) }}: '{{ (value | string) | replace("'", "''") }}'
{%     endif %}
{%   elif value is none %}
{{ key | indent(width=4, first=True) }}: null
{%   else %}
{{ key | indent(width=4, first=True) }}: {{ yamlval.render_scalar(value) }}
{%   endif %}
{%   endif %}
{% endfor %}
