---
controller_credential_types: {{ [] if current_credential_types_asset_value | length == 0 }}
{% set __empty_values = [None, '', "None", [], {}, [{}]] %}
{% for credential_type in current_credential_types_asset_value %}
  - name: "{{ credential_type.name }}"
{%   if template_overrides_resources.credential_type[credential_type.name].description
                     | default(template_overrides_global.credential_type.description)
                     | default(credential_type.description) | regex_replace("'", "''") not in __empty_values %}
    description: |-
      {{ '{%- raw -%}' }}
      {{ template_overrides_resources.credential_type[credential_type.name].description
                     | default(template_overrides_global.credential_type.description)
                     | default(credential_type.description) | regex_replace("'", "''") }}
      {{ '{%- endraw -%}' }}
{% endif %}
    kind: "{{ credential_type.kind }}"
    inputs:
{{ template_overrides_resources.credential_type[credential_type.name].inputs
   | default(credential_type.inputs) | to_nice_yaml(indent=2,sort_keys=false) | indent(width=8, first=true) }}
{% if template_overrides_resources.credential_type[credential_type.name].injectors is defined
      or (credential_type.injectors and credential_type.injectors != '---') %}
    injectors:
{{ template_overrides_resources.credential_type[credential_type.name].injectors
   | default(credential_type.injectors)
   | to_nice_yaml(indent=2, sort_keys=false) | indent(width=8, first=true) | regex_replace('(^[^:]*): (.*){([{%])(.*)', '\\g<1>: "{%- raw -%} \\g<2>{\\g<3>\\g<4> {%- endraw -%}"', multiline=true)}}
{% endif %}
{% endfor %}
...
