---
hub_collection_remotes: {{ [] if current_hub_collection_remotes_asset_value | length == 0 }}
{% set __excluded_fields = ['pulp_href', 'pulp_created', 'pulp_last_updated', 'hidden_fields', 'last_sync_task'] %}
{% set __empty_values = [None, '', "None", [], {}, [{}]] %}
{% set __dict_items = ['requirements_file'] %}
{% for current_collection_remote in current_hub_collection_remotes_asset_value %}
{%   for __map_item in (current_collection_remote | dict2items) if __map_item.key not in __excluded_fields and __map_item.value not in __empty_values %}
{%     if loop.index == 1 %}
  - {{ __map_item.key }}: {{ __map_item.value | replace("\\'", "''") }}
{%     else %}
{%       if __map_item.key in __dict_items %}
{%         set __hub_remote_value = __map_item.value | replace("\\'", "''") %}
    {{ __map_item.key }}: {{ __hub_remote_value if __hub_remote_value is mapping or (__hub_remote_value | type_debug) == 'list' else (__hub_remote_value | from_yaml) }}
{%       else %}
    {{ __map_item.key }}: {{ __map_item.value | replace("\\'", "''") }}
{%       endif %}
{%     endif %}
{%-  endfor %}
{% endfor %}
...
