{% import 'macros/export_field.j2' as export %}
{% import 'macros/export_value.j2' as exportval %}
---
hub_ee_repositories: {{ [] if current_hub_ee_repositories_asset_value | length == 0 }}
{% set __excluded_fields = ['pulp_href', 'pulp_created', 'pulp_last_updated', 'versions_href', 'latest_version_href'] %}
{% set __field_defaults = {'description': '', 'readme': '', 'readme_file': '', 'upstream_name': '', 'include_tags': '', 'exclude_tags': ''} %}
{% for current_ee_repository in current_hub_ee_repositories_asset_value %}
{%   set ns = namespace(first=true) %}
{%   for __map_item in (current_ee_repository | dict2items) if __map_item.key not in __excluded_fields %}
{%     if exportval.should_export_field(__map_item.key, __map_item.value, __field_defaults) | trim == 'true' %}
{%       if ns.first %}
  - {{ export.render(__map_item.key, __map_item.value, indent=0, first=true, field_defaults=__field_defaults) }}
{%         set ns.first = false %}
{%       else %}
    {{ export.render(__map_item.key, __map_item.value, indent=0, first=true, field_defaults=__field_defaults) }}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endfor %}
